@{
    ViewData["Title"] = "Contact";
}
<div class="row">
    <div class="col-md-12">
        <h1>Home <small>/home/contact</small></h1>
        <p><strong>DOUSTALY LUCIEN:</strong> lucien.doustaly@isen.yncra.fr</p>
        <p><strong>RODRIGUE BASTIEN:</strong> bastien.rodrigue@isen.yncra.fr</p>
    </div>
</div>