@{
    ViewData["Title"] = "Home";
    ViewData["Desc"] = "Description longue du site";
    var urls = new List<string>
    {
        "http://localhost:5000/api/Poi/all",
        "http://localhost:5000/api/Poi/departement/83",
        "http://localhost:5000/api/Poi/commune/Toulon"
    };
}
<div class="row">
    <div class="col-md-12">
        <h1>Home <small>/home/index</small></h1>
        <p>Nous avons créer une Api qui renvoie les Poi sous forme de Json en fonction du nom de la commune ou du code departement, Vous pouvez donc essayer les liens suivants,
            Pour la question 4 nous n'avons pas réussi a liéer l'api avec les liste déroulante pour filter les Points d'interêts</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 bg-info">1</div>
    <div class="col-md-6 bg-info">2</div>
</div>
<div class="row">
    @foreach(var url in urls)
    {
        <div class="col-md-4 bg-info">
            <a href="@url">@url</a>
        </div>
    }
</div>