@using Isen.DotNet.Library.Repositories.Interfaces;
@using Isen.DotNet.Library.Models.Implementation;
@{
    ViewData["Title"] = "Map";
}
@inject ICategorieRepository _categorieRepository;
@inject ICommuneRepository _communeRepository;
@inject IDepartementRepository _departementRepository;
@model PointOfInterest;

<div class="row" style="margin-bottom:20px;">
    <h2>Filtrer les Points d'interêts</h2>
    <form class="form-horizontal">
        <input type="hidden" value="@Model?.Id" asp-for="Id" />
            <div class="col-md-3">
                <label for="CategorieId">
                    Categorie : 
                </label>
                    @Html.DropDownListFor(
                        p => p.CategorieId,
                        new SelectList(
                            _categorieRepository.GetAll(), 
                            "Id",
                            "Name"),
                        "<Sélectionnez une catégorie>",
                        new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                <label for="CommuneId">
                    Commune : 
                </label>
                    @Html.DropDownListFor(
                    p => p.Adresse.CommuneId,
                    new SelectList(
                        _communeRepository.GetAll(), 
                        "Id",
                        "Name"),
                    "<Sélectionnez une commune>",
                    new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                <label for="DepartementId">
                    Département : 
                </label>
                    @Html.DropDownListFor(
                    p => p.Adresse.Commune.DepartementId,
                    new SelectList(
                        _departementRepository.GetAll(), 
                        "Id",
                        "Name"),
                    "<Sélectionnez un département>",
                    new { @class = "form-control" })
            </div>
        <div class="col-md-3">
            <br/>
            <input type="submit" class="btn btn-primary" value="Filtrer" />
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-12">
        <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
            #map {
                height: 750px;
                width: 1000px;
            }
            /* Optional: Makes the sample page fill the window. */
            html, body {
                height: 100%;
                margin: 30px;
                padding: 0;
            }
        </style>

        <div id="map"></div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
        <script>

            var url = "http://localhost:5000/api/Poi/all";

            var json = (function() {
                var json = null;
                $.ajax({
                    'async': false,
                    'global': false,
                    'url': url,
                    'dataType': "json",
                    'success': function(data) {
                        json = data;
                    }
                });
                return json;
            })();
            console.log(json);


            function initMap() {
               var map = new google.maps.Map(document.getElementById('map'),
                    {
                        center: { lat: 43.629520, lng: 6.2248 },
                        zoom: 9
                    });
                
                var markers = [];
                var marker;
                var infoWindow = new google.maps.InfoWindow(); 

                for (var i = 0, length = json.length; i < length; i++) {
                    var data = json[i];
                    var latLng = new google.maps.LatLng(data.adresse.latitude, data.adresse.longitude);
                    var contentString = '<div id="content">' +
                        '<div id="siteNotice">' +
                        '</div>' +
                        '<h1 id="firstHeading" class="firstHeading">' +
                        data.name +
                        '</h1>' +
                        '<div id="bodyContent">' +
                        '<p><b>Categorie : ' +
                        data.categorie.name +
                        '</b><p>' +
                        '<p><b>Description : ' +
                        data.description +
                        '</b><p>' +
                        '<p><b>Adresse : ' +
                        data.adresse.ligneTxt +
                        ' ' +
                        data.adresse.codePostal +
                        ' ' +
                        data.adresse.nameCommune +
                        '</b></p>' +
                        '</div>' +
                        '</div>';

                   

                    // Creating a marker and putting it on the map
                    marker = new google.maps.Marker({
                        position: latLng,
                        map: map,
                        title: data.name

                    });

                    marker.contentString = contentString;

                   
                    google.maps.event.addListener(marker, 'click', function() {
                        if (!marker.open) {
                            infoWindow = new google.maps.InfoWindow();
                            infoWindow.setContent(this.contentString);
                            infoWindow.open(map, this);
                            marker.open = true;

                        } else {
                            infoWindow.close();
                            marker.open = false;
                        }
                        google.maps.event.addListener(map, 'click', function() {
                            infoWindow.close();
                            marker.open = false;
                        });
                        
                    });
                    markers.push(marker);
                }
            }


        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYcNDzmppbfOx3Q12i6EhiZlHz_VWCzpU&callback=initMap"
                async defer>
        </script>
    </div>
</div>